<% provide(:title, "UserAuth | Signup") %>

<%= render 'layouts/flash_message' if flash %>

<div class="panel panel-primary log-in-form">
  <!-- Default panel contents -->
  <div class="panel-heading"> Sign up</div>
  <div class="panel-body">
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control log-in-entry' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control log-in-entry' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control log-in-entry' %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control log-in-entry' %>

        <%= f.submit :Signup, class: 'btn btn-primary log-in-entry' %>

    <% end %>
  </div>
</div>

<% if @user.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
          <li>* <%= message_error %></li>
      <% end %>
    </ul>
<% end %>